#about{
  width: 90vw;
  margin-top: 4%;
  margin-left: 5vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 800;
  font-family: 'Syne', serif;
  font-weight: 400;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.284);
}

h3.about-page{
  font-size: 200%;
  font-family: 'Fraunces', sans-serif;
  text-align: center;
  line-height: 0px;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.284);



  p{
    margin: 0;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.284);
  }
}

h5 {
  font-size: 110%;
  margin: 0;
  font-weight: 400;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.284);
}

span#change-desc{
  display: flex;
  flex-direction: row;
}
// section#mojo-features {
//   display: inline-flex;
//   flex-direction: row;

// }

button#feature-button {
  margin: 1%;
  margin-top: 0;
  // margin-bottom: -12%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1.9rem;
  border-style: solid;
  border-width: 0.06rem;
  border-color: rgba(255, 255, 255, 0);
  
  padding: 0.5rem;
  width: 11vw;
  height: 5%;
  font-family: 'Syne', sans-serif;
  font-size: 90%;
  color: rgba(255, 255, 255, 0.768);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.522);
}

button#team-button {
  margin: 1%;
  margin-top: 0;
  // margin-bottom: -12%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1.9rem;
  border-style: solid;
  border-width: 0.06rem;
  border-color: rgba(255, 255, 255, 0);
  
  padding: 0.5rem;
  width: 11vw;
  height: 5%;
  font-family: 'Syne', sans-serif;
  font-size: 90%;
  color: rgba(255, 255, 255, 0.766);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.522);
}


button#feature-button:hover {
  cursor: pointer;
  
}

button#team-button:hover {
  cursor: pointer;
}

div#features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

div#team {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

div.team-desc {
  padding: 0.5%;
  margin: 0.6%;
  margin-top: 1%;
  font-family: 'Syne', sans-serif;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // text-align: center;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.522);
   img {
    object-fit: cover;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.273);
   } 

   h3 {
    margin: 5%;
    margin-bottom: 2%;
   }

  p {
    font-size: 85%;
    margin-left: 5%;
    
  }

}

div.feature-desc {
  padding: 0.5%;
  margin: 0.5%;
  font-family: 'Syne', sans-serif;

  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.522);

  img {
    object-fit: cover;
    width: 15.1vw;
    height: 12.5vw;
    border-radius: 1.2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.273);
   }

  //  p {
  //   margin: 3.5%;
  //  }
}

button#feature-button.on {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.522);
}

button#team-button.on {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.522);
}

button#team-button.on:hover {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.522);
}

button#feature-button.on:hover {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.522);
}