#breathe {
  width: 12vw;
  height: 12vw;
  -webkit-animation: breathing 6s ease-out infinite;
  animation: breathing 6s ease-out infinite;
  filter: blur(0.9rem);
  background: #ffffffef;
  border-radius: 50%;
  margin: .7rem;
  margin-top: -2%;
  }


@-webkit-keyframes breathing {
0% {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

60% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

30% {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

100% {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
}

@keyframes breathing {
0% {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
60% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

30% {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}


100% {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
}