.btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.btn p {
  margin: 0;
  font-size: large;
}

.btn#change-date {
  display: inline-flex;
}


.btn-nav:hover {
  color: black;
  font-size: 1.65rem;
  cursor: pointer;
}

  .btn-nav {
    background: transparent;
    border-style: none;
    color: white;
    font-family: 'Syne', serif;
    font-weight: 400;
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
