.btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.btn p {
  margin: 0;
  font-size: large;
}

p#change-date {
  margin-left: 1.5%;
}

.btn#change-date {
  display: inline-flex;
}


.btn-nav:hover {
  color: rgb(80, 186, 232);
  font-size: 1.65rem;
  cursor: pointer;
}

.btn-nav {
  background: transparent;
  border-style: none;
  color: white;
  font-family: 'Syne', serif;
  font-weight: 400;
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.btn#login {
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1.9rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(255, 255, 255, 0.497);
  padding: 1rem;
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Syne', sans-serif;
  font-size: large;
  color: white;
}

button#login:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

button.btn-disabled {
  color: rgba(255, 255, 255, 0.494);
  background: transparent;
    border-style: none;
    font-family: 'Syne', serif;
    font-weight: 400;
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

button.btn-disabled:hover  {
  color: rgba(255, 255, 255, 0.494);
  background: transparent;
    border-style: none;
    font-family: 'Syne', serif;
    font-weight: 400;
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.btn-border {
  display: flex;
  width: 100%;
  justify-items: left;
  background-color: rgba(255, 255, 255, 0.095);
  border-radius: 1.9rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(255, 255, 255, 0.508);
  margin: 1rem;
}

.btn#change-date {
  width: 89%;
}

.btn#change-date:hover {
  background-color: rgba(255, 255, 255, 0.866);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.736);
  color:black;
  cursor: pointer;
}

.btn#prompt { 
  margin-bottom: 4%;
  background-color: rgba(255, 255, 255, 0.097);
  border-radius: 1.9rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(255, 255, 255, 0.497);
  padding: 0.5rem;
  width: 40%;
  font-family: 'Syne', sans-serif;
  font-size: large;
  color: white;
}

.btn#save-journal {
  margin-top: 4%;
  background-color: rgba(255, 255, 255, 0.097);
  border-radius: 1.9rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(255, 255, 255, 0.497);
  padding: 0.5rem;
  width: 40%;
  font-family: 'Syne', sans-serif;
  font-size: large;
  color: white;
}

.btn#save-journal:hover {
  background-color: rgba(255, 255, 255, 0.866);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.736);
  color:black;
  cursor: pointer;
}

.btn#prompt:hover {
  background-color: rgba(255, 255, 255, 0.866);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.736);
  color:black;
  cursor: pointer;
}