.fc-daygrid {
  height: 76%;
}

.fc-daygrid-day-events {
  display: flex;
  flex-wrap: wrap;
}

.day-selection-calendar {
  width: 65%;
  height: 50%;
  font-weight: 400;
}

.day-selection-calendar h1 {
  margin: 0;
  font-weight: 400;
}

.alert {
  width: 31%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.alert-danger {
  background-color: rgba(213, 11, 11, 0.314);
  color: white;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin: 0.5rem !important;

}

.fc .fc-toolbar-title {
  font-weight: 400;
}

th {
  font-weight: 400;
}

.fc-daygrid-day-frame:hover {
  background: rgba(255, 255, 255, 0.574);
}

.hoverModal {
  width: 5rem;
  height: 1.5rem;
  z-index: 100;
  position: fixed;
  font-weight: 400;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.682);
  text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.736);
  background-image: linear-gradient(130deg, rgb(121, 174, 234), rgb(62, 92, 168));
  border-radius: 1.5rem;
  border-color: rgba(255, 255, 255, 0.889);
  padding: 0.5rem;
  padding-left: 1.5rem;
}