.mood-image {
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 0;
  border: 0;
}


.fc-daygrid-day-events {
  display: flex;
  flex-wrap: wrap;
}

.fc-daygrid-day-frame {
  height: 200px;
}