.fc-daygrid {
  height: 75%;
}

.fc-daygrid-day-events {
  display: flex;
  flex-wrap: wrap;
}

.day-selection-calendar {
  width: 65%;
  height: 50%;
  font-weight: 400;
}

.day-selection-calendar h1 {
  margin: 0;
  font-weight: 400;
}

.alert {
  width: 31%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.alert-danger {
  background-color: rgba(213, 11, 11, 0.314);
  color: white;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin: 0.5rem !important;
  
}

.fc .fc-toolbar-title {
  font-weight: 400;
}

th {
  font-weight: 400;
}

.fc-daygrid-day-frame:hover{
background: rgba(255, 255, 255, 0.574);
}

