

section.home-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 900;
  color: white;
  font-family: 'Syne', serif;
  padding-right: 3rem;
  width: 70%;
  p {
    margin: 2.5rem;
    font-size: x-large;
    text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.736); 
  
  }
}
