

section.home-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 900;
  color: white;
  font-family: 'Syne', serif;
}

p {
  margin: 3rem;
}