.icon {
  width: 2vw;
  height: 2vw;
}

.icon-small {
  width: 1.2vw;
  height: 1.2vw;
}

.icon-medium {
  width: 1.60vw;
  height: 1.60vw;
}

.icon-large {
  width: 60px;
  height: 60px;
}

.icon-x-large {
  width: 90px;
  height: 90px;
}

.icon-padding {
  padding: 10px;
}

.icon-marg {
  margin-left: 30%;
}