.RichEditor-root {
  // background: #fff;
  // border: 1px solid #ddd;
  font-family: 'Syne', serif;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.618);
  border-radius: 1.5rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(255, 255, 255, 0.508);
  padding: 15px;
  color: rgb(0, 0, 0);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5%;
  height: 80%;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.421); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.606); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #140de87b; 
}

.RichEditor-editor {
  border-top: 1px solid rgba(255, 255, 255, 0.348);
  cursor: text;
  font-size: 22px;
  margin-top: 1rem;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -1rem -1rem;
  padding: 1rem;
}

.RichEditor-editor .public-DraftEditor-content {
  height: 20vw;

}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: rgb(49, 49, 49);
  font-family: 'Fraunces', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Syne', serif;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Syne', serif;
  font-size: 18px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: rgba(43, 31, 31, 0.58);
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}