
section.checklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

.checklist-container {
  padding-top: 1%;
  padding-bottom: 6%;  
  width: 90%;
  background-color: rgba(255, 255, 255, 0.095);
  border-radius: 1.3rem;
  border-style: solid;
  border-width: 0.06rem;
  border-color: rgba(255, 255, 255, 0.508);
  margin-bottom: 7%;
  height: 54.85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 100%;
  font-family: 'Syne', sans-serif;
  overflow: scroll;
}

h3 {
  margin-top: 15%;
  margin-bottom: 3%;
  display: flex;
  width: 110%;
  justify-content: center;
  font-size: 80%;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.736);
}