

#landing{
  position: relative;
  display: flex;
  margin-top: 8vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.284);
  color: rgb(255, 255, 255);
  z-index: 800;
}

#landing h1{
  font-size: 380%;
  text-align: center;
  line-height: 0px;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.284);
}

#landing small{
  font-family: 'Syne', sans-serif;
  font-size: 110%;
}

#landing p {
  font-family: 'Syne', sans-serif;
  font-size: 105%;
}

button#get-started.btn {
  display:flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 3.8rem;
  border-style: solid;
  border-width: 0.06rem;
  border-color: rgba(255, 255, 255, 0.497);
  margin-top: 3%;
  padding: 0.5%;
  max-width: 19%;
  min-width: 16%;
  font-family: 'Syne', sans-serif;
  font-size: 90%;
}

button#get-started.btn:hover {
  background-color: rgba(255, 255, 255, 0.866);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.736);
  color:black;
  cursor: pointer;
}

a:link { 
  text-decoration: none;
  color: white;
}


a:visited { 
  text-decoration: none;
  color: white;
}


a:hover { 
  text-decoration: none;
  color: black;
}


a:active { 
  text-decoration: none;
  color: white;
}

img#spotify {
  margin-right: 5%;
  width: 12%;
}