main.main-container {
  display: inline-flex;
  position: fixed;
  top: 6rem;
  width: 95vw;
  flex-direction: row;
  justify-content: space-between;
  // align-items: center;
  font-family: 'Syne', sans-serif;
  font-weight: 400;
}