.moodify {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}

h4#listen {
  font-weight: 400;
  font-size: medium;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.736); 
}

iframe {
  margin-top: 7%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.736); 
}