

article.mood-box {
  width: 80%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: rgba(255, 255, 255, 0);
  // border-radius: 1.5rem;
  // border-style: solid;
  // border-width: 0.1rem;
  // border-color: rgba(255, 255, 255, 0.508);
  padding: 0.8rem;

  header {
    font-size: large;
    padding: 2%;
    padding-left: 10%;
    font-family: "Syne", serif;
    
  }

  div.mood-box {
    width:95%;
    padding-left: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
  }

}
