section.moodscape-page {
  margin: 2em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  font-family: 'Syne', serif;
}

button#moodscape-page {
  background-color: rgba(255, 255, 255, 0.312);
  border-radius: 1.95rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(255, 255, 255, 0.682);
  padding: 0.8rem;
  margin: 0.5rem;
  width: 12.2rem;
  font-family: 'Syne', serif;
  color: white;
  font-size: large;
}

button#moodscape-page:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

div.moodscape-page {
  display: flex;
  flex-direction: column;

}