.moodify {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  width: 95%;
  background: transparent;

}

h4#listen {
  margin-top: 3%;
  font-weight: 400;
  font-size: 75%;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.736); 
}

iframe {
  // min-width: 100%;
  // height: fit-content;
  max-width: 100%;
  margin-top: 4%;
  // box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.588); 

}

.moodify-container {
  width: 95%;
  height: 100%;
  padding: 1.2rem 0.3rem 1.2rem 0.3rem;
  border-radius: 0.9rem;
  border-style: solid;
  border-width: 0.06rem;
  border-color: rgba(255, 255, 255, 0.508);
  background-color: rgba(255, 255, 255, 0.095);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  font-weight: 400;
  font-family: 'Syne', sans-serif;
  overflow-wrap: break-word;
}

h3#moody {
  font-weight: 400;
  font-size: 80%;
  text-align: center;
  margin-top: 1.5%;
  text-shadow: none;
}