section.moodscape-page {
  margin-top: -4%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  font-family: 'Syne', serif;
  font-weight: 400;
  text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.736); 
  font-size: 90%;
}

button#moodscape-page {
  background-color: rgba(255, 255, 255, 0.312);
  border-radius: 1.95rem;
  border-style: solid;
  border-width: 0.06rem;
  border-color: rgba(255, 255, 255, 0.682);
  padding: 5%;
  margin: 0.5rem;
  margin-left: 20%;
  width: 100%;
  font-family: 'Syne', serif;
  color: white;
  font-size: 75%;
  font-weight: 400;
  cursor: pointer;
}

button#moodscape-page:hover {
  background-color: rgba(255, 255, 255, 0.866);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.736);
  color:black;
  cursor: pointer;
}

div.moodscape-page {
  width: 20%;
  margin-top: 5%;
  margin-left: 5%;
  display: inline-flex;
  flex-direction: column;
  font-weight: 400;
}

div#chart-p {
  width: 54%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}

div#chart-p p {
  margin: 1rem;
  font-weight: 400;
}