.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(246, 246, 246, 0);
  padding: 1rem;
  // border: 2px solid rgba(240, 255, 255, 0);
  // border-radius: 25px;
  height: auto;
  width: 25%;
}