nav.top-nav {
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 100vw;
  height: 6rem;
  
}

nav h1 {
  font-size: 2.6rem;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

nav ul{
  // padding-right: 1rem;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

nav li {
  list-style-type: none;
}

.btn-nav:hover {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-nav {
  background: transparent;
  border-style: none;
  color: white;
  font-family: 'Syne', serif;
  font-size: 1.4rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}