@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500&family=Syne:wght@400;600&display=swap');


body {
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(80deg, rgb(17, 140, 228), rgba(225, 20, 112, 0.933));
  max-width: 100vw;
  color: white;
  overflow: hidden;

}

body.dark-mode {

  font-family: 'Fraunces', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(80deg, rgb(1, 33, 30),rgb(5, 14, 73), rgb(45, 3, 87));
  max-width: 100vw;
  color: white;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}